<!DOCTYPE html>
<html>
  <head>
    <title>My Form</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/formulario.css" />
  </head>
  <body>
    <div class="background-image"></div>
    <header>
      <nav>
        <ul>
          <li>
            <img src="../../assets/img/formulario/logo-gm-branca.png" alt="logo" class="logo" />
          </li>
          <li><a href="#">CONHEÇA O GREENMIND</a></li>
          <li><a href="#">ARTIGOS E DICAS</a></li>
          <li><a href="#">QUIZ AMBIENTAL</a></li>
          <li><a href="#">CONSUMO INTELIGENTE</a></li>
          <li><a href="#">REDE GREENMIND</a></li>
          <li><a href="#">LOGIN</a></li>
        </ul>
      </nav>
      <div class="title">
        <h1>QUIZ AMBIENTAL</h1>
      </div>
    </header>
    <main >
      <form id="quiz-container" action="#">
      </form>
      <div style="align-items: end; display: flex">
        <img src="../../assets/img/formulario/imagem-sustentavel.png" alt="sustentavel" />
      </div>
    </main>
    <div class="resultados-container">
      <button id="ver-resultados">Enviar Formulário</button>
    </div>
    <script src="../../assets/js/formulario.js"></script>
  </body>
</html>
