<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/authStyle.css">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-side">
        <h1>Faça seu login</h1>
        <div class="login-form">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Insira seu email aqui">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Insira sua senha aqui">
            </div>
            <button id="enviar">Login</button>
        </div>
        <p id="resposta"></p>
        <p>Não possui uma conta? <a href="./cadastro.html">Crie sua conta</a></p>
    </div>

    <div class="logo-side">
        <img src="../../assets/img/cropped_logocromfrase.png" alt="">
    </div>

    <script src="../../assets/js/login.js"></script>
</body>
</html>