<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greenmind - Artigo e Dicas</title>
  <link rel="stylesheet" href="../../assets/css/temas.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="../../views/home/home.html" class="logo">
      <img src="../../assets/img/logo gm branca 1.png" alt="Logo Greenmind">
    </a>
    <div class="menu">
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONHEÇA O GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/nossa-equipe/nossaequipe.html">NOSSA EQUIPE</a>
          <a href="../../views/assuntos-abordados/assuntos-abordados.html">ASSUNTOS ABORDADOS</a>
          <a href="../../views/o-greenmind/o-greenmind.html">O GREENMIND</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">ARTIGOS E DICAS</a>
        <div class="dropdown-content">
          <a href="../../views/temas/tema1.html">TEMA 1</a>
          <a href="../../views/temas/tema2.html">TEMA 2</a>
          <a href="../../views/temas/tema3.html">TEMA 3</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">QUIZ AMBIENTAL</a>
        <div class="dropdown-content">
          <a href="../../views/formulario/formulario.html">TESTE SEU CONHECIMENTO</a>
          <a href="../../views/desafios/index.html">DESAFIOS</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONSUMO INTELIGENTE</a>
        <div class="dropdown-content">
          <a href="../../views/desperdicio-agua-energia/desperdicio-agua.html">CONSUMO DE ÁGUA</a>
          <a href="../../views/desperdicio-agua-energia/desperdicio-energia.html">CONSUMO DE LUZ</a>
          <a href="../../views/desperdicio-alimentos/desperdicio-alimentos.html">DESPERDÍCIO DE ALIMENTOS</a>
          <a href="../../views/quiz-pegada/index.html">PEGADA ECOLÓGICA</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">REDE GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/rede-greenmind/rede-greenmind.html">NOSSOS PARCEIROS</a>
          <a href="../../views/pontos-reciclagem/pontos-reciclagem.html">PONTOS DE RECICLAGEM</a>
        </div>
      </div>
      <div class="menu-item">
        <a href="../../views/auth/login.html">LOGIN</a>
      </div>
    </div>
  </div>

  <!-- Imagem de fundo no topo -->
  <div class="background-image">
    <img src="../../assets/img/folhasfundo.jpg" alt="Imagem de fundo">
  </div>

  <!-- Título "CONHEÇA O GREENMIND" -->
  <h1 class="artigos-e-dicas">ARTIGOS E DICAS</h1>

  <!-- Seção Nossa Equipe (segundo conteúdo de O GREENMIND) -->
  <div class="about-team">
    <h2>AGRICULTURA SUSTENTAVEL</h2>
    <p>A agricultura sustentável é um modelo de produção agrícola que busca equilibrar a produção de alimentos com a
      preservação do meio ambiente, a promoção do bem-estar social e a viabilidade econômica. Esse tipo de agricultura
      visa atender às necessidades da geração presente, sem comprometer a capacidade das gerações futuras de atenderem
      às suas próprias necessidades, em conformidade com os princípios do desenvolvimento sustentável.

      O conceito de agricultura sustentável vai além da simples produção de alimentos, considerando aspectos como a
      saúde do solo, a biodiversidade, o uso responsável da água e a redução de impactos ambientais. Uma das principais
      características desse modelo é o uso de práticas agrícolas que conservem e melhorem a qualidade do solo, evitando
      o seu esgotamento e degradação. Isso pode ser alcançado através do uso de rotação de culturas, adubação orgânica,
      plantio direto e o manejo adequado das pastagens.

      O uso eficiente da água é outro ponto essencial da agricultura sustentável. Em um contexto de escassez hídrica
      crescente em várias regiões do mundo, é fundamental que os agricultores adotem tecnologias e práticas que
      maximizem o uso da água, como a irrigação por gotejamento e a captação da água da chuva. A conservação da água
      também envolve a proteção de corpos d'água e o controle da poluição proveniente do uso excessivo de pesticidas e
      fertilizantes.

      A biodiversidade é uma aliada da agricultura sustentável, pois a diversidade biológica pode contribuir para a
      resistência das culturas a pragas e doenças. Em vez de depender de produtos químicos, os agricultores sustentáveis
      utilizam técnicas como o controle biológico, que envolve o uso de predadores naturais ou organismos benéficos para
      controlar pragas. Além disso, o incentivo ao cultivo de diferentes espécies, ao invés de monoculturas, ajuda a
      preservar ecossistemas e aumentar a resiliência das lavouras.

      Outro aspecto importante da agricultura sustentável é o bem-estar social. Isso envolve a garantia de condições de
      trabalho justas para os agricultores, o apoio à agricultura familiar e o incentivo ao uso de práticas que
      beneficiem as comunidades rurais. A agricultura sustentável também busca garantir a segurança alimentar,
      oferecendo alimentos de qualidade e acessíveis a todas as camadas da população.

      Em termos econômicos, a agricultura sustentável promove práticas que podem ser mais rentáveis a longo prazo, mesmo
      que envolvam um maior custo inicial. O uso de práticas que preservam o solo e os recursos naturais reduz a
      necessidade de insumos químicos caros e dependentes de fontes externas. Além disso, a diversificação das culturas
      pode aumentar a estabilidade da produção e reduzir os riscos financeiros associados a falhas em grandes
      monoculturas.

      Portanto, a agricultura sustentável é uma abordagem integrada que busca maximizar a produção de alimentos de
      maneira que respeite o meio ambiente, promova a justiça social e seja economicamente viável. Ao adotar práticas
      agrícolas sustentáveis, os agricultores não apenas contribuem para a conservação dos recursos naturais, mas também
      ajudam a construir um futuro mais justo e equilibrado para todos.</p>
  </div>

  <footer>
    <div class="footer-images">
      <img src="../../assets/img/image.png" alt="Imagem 1">
      <img src="../../assets/img/logo-pucminas-removebg-preview.png" alt="Imagem 2">
    </div>
    <p>&copy; 2024 GreenMind. Todos os direitos reservados.</p>
  </footer>
  <script src="../../assets/js/dropdown.js"></script>
  <script src="../../assets/js/navbar.js"></script>
</body>

</html>