<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafios Ambientais</title>
    <link rel="stylesheet" href="../../assets/css/style-index.css">
</head>
<body>
    <header></header>
    <h1 class="titulo">DESAFIOS</h1>
    <section class="desafios-grid">
        <a href="./plantar_arvore.html" class="desafio-item">
            <img src="../../assets/img/arvoreicon.png" alt="Plantar uma Árvore">
            <h2>Plantar uma Árvore</h2>
        </a>
        <a href="./reciclar_itens.html" class="desafio-item">
            <img src="../../assets/img/recicle.png" alt="Reciclar 3 Itens ao Dia">
            <h2>Reciclar 3 Itens ao Dia</h2>
        </a>
        <a href="./caminha_andar.html" class="desafio-item">
            <img src="../../assets/img/bike.png" alt="Caminhe ou Ande de Bicicleta">
            <h2>Caminhe ou Ande de Bicicleta</h2>
        </a>
        <a href="./adote_ecobag.html" class="desafio-item">
            <img src="../../assets/img/ecobagg.png" alt="Adote uma Ecobag">
            <h2>Adote uma Ecobag</h2>
        </a>
        <a href="./compostagem_caseira.html" class="desafio-item">
            <img src="../../assets/img/regador.png" alt="Faça Compostagem Caseira">
            <h2>Faça Compostagem Caseira</h2>
        </a>
        <a href="./cultivar_jardim.html" class="desafio-item">
            <img src="../../assets/img/5256132.png" alt="Cultive um Jardim de Ervas">
            <h2>Cultive um Jardim</h2>
        </a>
        <a href="./reduza_plastico.html" class="desafio-item">
            <img src="../../assets/img/plastico.png" alt="Reduza o Consumo de Plástico">
            <h2>Reduza o Consumo de Plástico</h2>
        </a>
        <a href="./diminua_papel.html" class="desafio-item">
            <img src="../../assets/img/folha.png" alt="Diminua o Uso de Papel">
            <h2>Diminua o Uso de Papel</h2>
        </a>
    </section>
</body>
</html>
