<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantar uma Árvore</title>
    <link rel="stylesheet" href="../../assets/css/style-plante_uma_arvore.css">
</head>
<body>
    <div class="container">
        <h1>Plantar Esperança para um Futuro Melhor</h1>
        <p>
            Reconectar-se com a natureza é essencial para acreditar na mudança. Ações diárias podem levar a um futuro sustentável, revertendo danos e promovendo a consciência ambiental. Plantar árvores simboliza resistência e transformação, fortalecendo a vida e inspirando a ação imediata.
        </p>
        <p>
        </p>
        <button onclick="marcarConcluido()">Marcar como Concluído</button>
        <div id="status"></div>
    </div>
    <script src="../../assets/js/script.js"></script>
</body>
</html>
