<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greenmind - O GreenMind</title>
  <link rel="stylesheet" href="../../assets/css/o-greenmind.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="../../views/home/home.html" class="logo">
      <img src="../../assets/img/logo gm branca 1.png" alt="Logo Greenmind">
    </a>
    <div class="menu">
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONHEÇA O GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/nossa-equipe/nossaequipe.html">NOSSA EQUIPE</a>
          <a href="../../views/assuntos-abordados/assuntos-abordados.html">ASSUNTOS ABORDADOS</a>
          <a href="../../views/o-greenmind/o-greenmind.html">O GREENMIND</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">ARTIGOS E DICAS</a>
        <div class="dropdown-content">
          <a href="../../views/temas/tema1.html">TEMA 1</a>
          <a href="../../views/temas/tema2.html">TEMA 2</a>
          <a href="../../views/temas/tema3.html">TEMA 3</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">QUIZ AMBIENTAL</a>
        <div class="dropdown-content">
          <a href="../../views/formulario/formulario.html">TESTE SEU CONHECIMENTO</a>
          <a href="../../views/desafios/index.html">DESAFIOS</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONSUMO INTELIGENTE</a>
        <div class="dropdown-content">
          <a href="../../views/desperdicio-agua-energia/desperdicio-agua.html">CONSUMO DE ÁGUA</a>
          <a href="../../views/desperdicio-agua-energia/desperdicio-energia.html">CONSUMO DE LUZ</a>
          <a href="../../views/desperdicio-alimentos/desperdicio-alimentos.html">DESPERDÍCIO DE ALIMENTOS</a>
          <a href="../../views/quiz-pegada/index.html">PEGADA ECOLÓGICA</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">REDE GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/rede-greenmind/rede-greenmind.html">NOSSOS PARCEIROS</a>
          <a href="../../views/pontos-reciclagem/pontos-reciclagem.html">PONTOS DE RECICLAGEM</a>
        </div>
      </div>
      <div class="menu-item">
        <a href="../../views/auth/login.html">LOGIN</a>
      </div>
    </div>
  </div>

  <!-- Imagem de fundo no topo -->
  <div class="background-image">
    <img src="../../assets/img/folhasfundo.jpg" alt="Imagem de fundo">
  </div>

  <!-- Título "CONHEÇA O GREENMIND" -->
  <h1 class="conheca-greenmind">CONHEÇA O GREENMIND</h1>

  <!-- Seção Nossa Equipe (segundo conteúdo de O GREENMIND) -->
  <div class="about-team">
    <h2>O GREENMIND</h2>
    <p>Aqui um espaço falando como a empresa surgiu e como e onde ela atua consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <footer>
    <div class="footer-images">
      <img src="../../assets/img/image.png" alt="Imagem 1">
      <img src="../../assets/img/logo-pucminas-removebg-preview.png" alt="Imagem 2">
    </div>
    <p>&copy; 2024 GreenMind. Todos os direitos reservados.</p>
  </footer>
  <script src="../../assets/js/dropdown.js"></script>
  <script src="../../assets/js/navbar.js"></script>
</body>

</html>