<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Resultado</title>
    <link rel="icon" href="../../assets/img/Pegada Ecologica/icons/resultado.ico">
    <link rel="stylesheet" href="../../assets/css/resultado.css">

    <!-- ícones (bootstrap) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <img id="logo_inicio" src="../../assets/img/Pegada Ecologica/icons/salford.png" alt="GreenMind Logo">
    <h4 class="showNome"></h4>

    <div id="contentRating">
        <div id="row-contentRating">
            <h1></h1>
        </div>

        <div id="boxPlanet">
            <img src="../../assets/img/Pegada Ecologica/landing_page/terra.png" alt="">
        </div>
    </div>

    <a href="../quiz-pegada/index.html"><button id="ir_inicio"><i class="bi bi-globe-americas"></i>Voltar ao Início</button></a>
</body>

<script src="../../assets/js/resultado.js"></script>

</html>