<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greenmind - Assuntos Abordados</title>
  <link rel="stylesheet" href="../../assets/css/assuntos-abordados.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="../../views/home/home.html" class="logo">
      <img src="../../assets/img/logo gm branca 1.png" alt="Logo Greenmind">
    </a>
    <div class="menu">
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONHEÇA O GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/nossa-equipe/nossaequipe.html">NOSSA EQUIPE</a>
          <a href="../../views/assuntos-abordados/assuntos-abordados.html">ASSUNTOS ABORDADOS</a>
          <a href="../../views/o-greenmind/o-greenmind.html">O GREENMIND</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">ARTIGOS E DICAS</a>
        <div class="dropdown-content">
          <a href="../../views/temas/tema1.html">TEMA 1</a>
          <a href="../../views/temas/tema2.html">TEMA 2</a>
          <a href="../../views/temas/tema3.html">TEMA 3</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">QUIZ AMBIENTAL</a>
        <div class="dropdown-content">
          <a href="../../views/formulario/formulario.html">TESTE SEU CONHECIMENTO</a>
          <a href="../../views/desafios/index.html">DESAFIOS</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONSUMO INTELIGENTE</a>
        <div class="dropdown-content">
          <a href="../../views/desperdicio-agua-energia/desperdicio-agua.html">CONSUMO DE ÁGUA</a>
          <a href="../../views/desperdicio-agua-energia/desperdicio-energia.html">CONSUMO DE LUZ</a>
          <a href="../../views/desperdicio-alimentos/desperdicio-alimentos.html">DESPERDÍCIO DE ALIMENTOS</a>
          <a href="../../views/quiz-pegada/index.html">PEGADA ECOLÓGICA</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">REDE GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/rede-greenmind/rede-greenmind.html">NOSSOS PARCEIROS</a>
          <a href="../../views/pontos-reciclagem/pontos-reciclagem.html">PONTOS DE RECICLAGEM</a>
        </div>
      </div>
      <div class="menu-item">
        <a href="../../views/auth/login.html">LOGIN</a>
      </div>
    </div>
  </div>

  <!-- Imagem de fundo no topo -->
  <div class="background-image">
    <img src="../../assets/img/folhasfundo.jpg" alt="Imagem de fundo">
  </div>

  <!-- Título "CONHEÇA O GREENMIND" -->
  <h1 class="conheca-greenmind">CONHEÇA O GREENMIND</h1>

  <h3 class="assuntos-abordados">ASSUNTOS ABORDADOS</h3>

  <div class="zigzag-container">
    <!-- Bloco 1 -->
    <div class="zigzag-item">
      <div class="title">Energias Renováveis</div>
      <div class="content">
        <p>As energias renováveis são fontes de energia obtidas de recursos naturais que se regeneram continuamente e de forma sustentável. Principais exemplos incluem a energia solar, eólica, hidrelétrica, biomassa e geotérmica. A adoção de energias renováveis é crucial para reduzir a dependência de combustíveis fósseis, diminuir a emissão de gases de efeito estufa e combater as mudanças climáticas. Além disso, elas promovem a segurança energética e reduzem a poluição ambiental. A GreenMind apoia e promove o uso de tecnologias de energia renovável através de educação, inovação e políticas de incentivo, visando uma transição para uma economia mais sustentável e de baixo carbono.</p>
      </div>
    </div>

    <!-- Bloco 2 -->
    <div class="zigzag-item">
      <div class="title">Desmatamento</div>
      <div class="content">
        <p>O desmatamento é a remoção extensiva de florestas para dar lugar a atividades humanas, como agricultura, pecuária e urbanização. Este processo resulta na perda de biodiversidade, degradação do solo e aumento das emissões de dióxido de carbono, contribuindo significativamente para as mudanças climáticas. A GreenMind se empenha em combater o desmatamento através de programas de conscientização, políticas de conservação e iniciativas de reflorestamento, garantindo a preservação da biodiversidade e dos recursos naturais.</p>
      </div>
    </div>

    <!-- Bloco 3 -->
    <div class="zigzag-item">
      <div class="title">Agricultura Sustentável</div>
      <div class="content">
        <p>A agricultura sustentável é uma abordagem de produção agrícola que visa atender às necessidades atuais de alimentos e fibras, sem comprometer a capacidade das futuras gerações. Envolve práticas que conservam os recursos naturais, como rotação de culturas, manejo integrado de pragas, uso eficiente da água e fertilizantes orgânicos. Esta abordagem promove a saúde do solo, a biodiversidade e o bem-estar das comunidades rurais. A GreenMind promove a agricultura sustentável através da educação, fornecimento de recursos e incentivo a políticas que apoiem práticas agrícolas responsáveis e ecologicamente corretas.</p>
      </div>
    </div>

    <!-- Bloco 4 -->
    <div class="zigzag-item">
      <div class="title">Reciclagem</div>
      <div class="content">
        <p>A reciclagem é o processo de transformação de materiais descartados em novos produtos, reduzindo a necessidade de extração de recursos naturais e minimizando a quantidade de resíduos enviados a aterros sanitários. Práticas eficazes de reciclagem ajudam a conservar energia, reduzir a poluição e diminuir a pegada de carbono. A GreenMind incentiva a reciclagem através de campanhas educacionais, desenvolvimento de infraestruturas de coleta e reciclagem, e parcerias para promover a economia circular, onde os materiais são continuamente reutilizados e reintegrados no ciclo produtivo.</p>
      </div>
    </div>

    <!-- Bloco 5 -->
    <div class="zigzag-item">
      <div class="title">Mudanças Climáticas e Aquecimento Global</div>
      <div class="content">
        <p>As mudanças climáticas referem-se às alterações significativas e duradouras nos padrões climáticos globais, provocadas principalmente pelas atividades humanas que aumentam as concentrações de gases de efeito estufa na atmosfera. O aquecimento global, uma das consequências dessas mudanças, resulta no aumento das temperaturas médias globais, causando derretimento de geleiras, elevação do nível do mar e eventos climáticos extremos. A GreenMind está comprometida em combater as mudanças climáticas através da promoção de práticas sustentáveis, incentivo ao uso de energias renováveis e educação sobre a importância de ações climáticas urgentes.</p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-images">
      <img src="../../assets/img/image.png" alt="Imagem 1">
      <img src="../../assets/img/logo-pucminas-removebg-preview.png" alt="Imagem 2">
    </div>
    <p>&copy; 2024 GreenMind. Todos os direitos reservados.</p>
  </footer>
  <script src="../../assets/js/dropdown.js"></script>
  <script src="../../assets/js/navbar.js"></script>
</body>

</html>