<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greenmind - Página Inicial</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="../../views/home/home.html" class="logo">
      <img src="../../assets/img/logo gm branca 1.png" alt="Logo Greenmind">
    </a>
    <div class="menu">
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONHEÇA O GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/nossa-equipe/nossaequipe.html">NOSSA EQUIPE</a>
          <a href="../../views/assuntos-abordados/assuntos-abordados.html">ASSUNTOS ABORDADOS</a>
          <a href="../../views/o-greenmind/o-greenmind.html">O GREENMIND</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">ARTIGOS E DICAS</a>
        <div class="dropdown-content">
          <a href="../../views/temas/tema1.html">TEMA 1</a>
          <a href="../../views/temas/tema2.html">TEMA 2</a>
          <a href="../../views/temas/tema3.html">TEMA 3</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">QUIZ AMBIENTAL</a>
        <div class="dropdown-content">
          <a href="../../views/formulario/formulario.html">TESTE SEU CONHECIMENTO</a>
          <a href="../../views/desafios/index.html">DESAFIOS</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">CONSUMO INTELIGENTE</a>
        <div class="dropdown-content">
          <a href="../../views/desperdicio-agua-energia/desperdicio-agua.html">CONSUMO DE ÁGUA</a>
          <a href="../../views/desperdicio-agua-energia/desperdicio-energia.html">CONSUMO DE LUZ</a>
          <a href="../../views/desperdicio-alimentos/desperdicio-alimentos.html">DESPERDÍCIO DE ALIMENTOS</a>
          <a href="../../views/quiz-pegada/index.html">PEGADA ECOLÓGICA</a>
        </div>
      </div>
      <div class="menu-item dropdown">
        <a href="#" class="dropdown-toggle">REDE GREENMIND</a>
        <div class="dropdown-content">
          <a href="../../views/rede-greenmind/rede-greenmind.html">NOSSOS PARCEIROS</a>
          <a href="../../views/pontos-reciclagem/pontos-reciclagem.html">PONTOS DE RECICLAGEM</a>
        </div>
      </div>
      <div class="menu-item">
        <a id="loginHeaderBtn" href="../../views/auth/login.html">LOGIN</a>
      </div>
    </div>
  </div>

  <!-- Conteúdo Principal -->
  <div class="content">
    <img src="../../assets/img/tela-de-fundo-greenmind.jpg" alt="Imagem de fundo">
    <div class="center-content">
      <h1>GREENMIND</h1>
    </div>
  </div>

  <script src="../../assets/js/script.js"></script>
  <script>
    if(localStorage.getItem('token')) {
      document.querySelector("#loginHeaderBtn").textContent = "Perfil";
      document.querySelector("#loginHeaderBtn").href = "../../views/perfil/perfil.html";
    }
  </script>
</body>

</html>